body{
	background:$backgroundColor;
	position: absolute;
	width: 100%;
}

.inner{
	margin:0 auto;
}

#scrollingArea{
	position:fixed;
	top:99px;
	width:100%;
	padding:0;
	margin:0;
	overflow-x:scroll;
	-webkit-overflow-scrolling: touch;
}