.filterButton{
	position:relative;
	button{
		position: absolute;
		right: 10px;
		top: 102px;
		/* margin: 102px 10px 0 10px; */
		padding: 7px 10px;
		background: #007A96;
		border: 1px solid silver;
		color: white;
		border-radius: 5px;
		border-bottom: 1px solid #005163;
		border-top: 1px solid #DAFDFF;

		&.active{
			border-bottom: 1px solid #DAFDFF;
			border-top: 1px solid darken($mainColor,10);
			background:darken($mainColor, 5);
		}
		&:focus{
			outline:none;
		}
		svg{
			fill: lighten($mainColor, 10);
		}
	}
	#tryme{
		position: absolute;
		right: 109px;
		top: 90px;
		color: rgb(155, 155, 155);
	}
}