@mixin active{
	border-bottom:5px solid orange;
	padding-bottom:10px;
}


#menubar{
	position:relative;
	background:white;
	border-bottom:1px solid #8E8E8E;
	padding:8px;
	select{
		-webkit-appearance:none;
		-moz-appearance:none;
		-appearance:none;
		padding: 7px;
		cursor:pointer;
		outline: none;
		color: $mainColor;
	}
}

#toggleFilter{
	background:white;
	position: absolute;
	left: 0;
	padding:15px;
	a{
		padding:10px;
		background: $mainColor;
		color:white;
		border-radius:5px;
		text-decoration:none;
		&:hover{
			background:darken($mainColor, 5);
		}
	}
}