.top5{

	h3{
		margin:0;
		padding:20px 10px 20px 10px;
		font-size:28px;
		color:$mainColor;
		small{
			font-size:60%;
			color:$mainColor;
			opacity:0.5;
		}
	}

	.arabic{
		text-align:right;
	}

	h4{
		margin:0;
		margin-left:30px;
	}
	ul{
		margin:0;
		padding:0;
		&.retweets_and_favorites{
			font-size:14px;
			li{
				display:inline-block;
				svg{
					margin-right:5px;
				}
				border-bottom:none;
				margin-top:0;

			}
		}
	}
	li{	
		a{
			&:hover{
				text-decoration:none;
				.tweet{
					background:darken(white,4);
					border:1px solid silver;
				}
			}
			.tweet{
			margin-left:30px;
			color:#444;
			margin-top:10px;
			padding:10px;
			border:1px solid darken(white,10);
			overflow:auto;
			div.preview{
				float:left;
				margin-right:10px;
				max-width:100px;
				overflow-x:hidden;
				}
			}
		}
		
		margin-top:10px;
		list-style-type:none;
		padding:9px;
		div{
			overflow:auto;
		}
		img.profile{
			float:left;
		}
	}
}