.top5{

  ul{
    padding:0;
    li{
      list-style-type:none;
    }
  }

  h3{
    font-size: 26px;
    padding: 10px 10px 20px 10px;
    color: #555;
    margin-bottom: 0;
    margin-top: 10px;
  }

	.tweet{
  padding-left:10px;
  padding-right:10px;
  font-size:14px;
  line-height:1.5;
  overflow:auto;
  margin-bottom:10px;

  .profilepic{
    padding-top:10px;
    width:40px;
    img{
      max-width:100%;
    }
    margin-right:10px;
    float:left;
  }

  .content{
    border-top:1px solid #e4e4e4 ;
    padding-top:10px;
    width: calc(100% - 60px);
    float:right;
    overflow:hidden;
    .media{
      max-height:218px;
      margin-top:15px;
      margin-bottom:15px;
      overflow-y:hidden;
      img{
        max-width:100%;
      }
    }
    h5{
      font-size:13px;
      margin:2px;
      color:#a8a8a8;
      strong{
        color:black;
      }
    }
    p{
      font-family:verdana;
      font-size:12px;
     &.arabic{
      font-size:14px;
      text-align:right;
     }
    }
    a{
      color:$mainColor;
      &:hover{
        text-decoration:underline;
      }
    }
  }
  .popularity{
    font-size:12px;
    color:silver;
    margin-top:8px;
    a{
      color:silver;
      g{
        fill:silver;
      }
      &:hover{
        color:darken(silver,20);
        g{
          fill:darken(silver,20);
        }
      }
    }
    li{
      display:inline-block;
      margin-right:15px;
    }
  }
}
}