.fixed{
	position:fixed;
	top:0;
	width:100%;
	z-index:100;
}

#topbar{
	height:50px;
	background: $mainColor;
}

#logo{
	background-image: url(../img/logo.png);
  	height: 50px;
  	background-repeat: no-repeat;
  	background-size: 254px 35px;
  	background-position-y: 8px;
  	width:315px;
  	float:left;
}

.aboutlt{
  	width: 200px;
  	font-size: 12px;
  	line-height: 15px;
  	margin-top: 12px;
	float:left;
	color:#D0D8E4;
	strong{
		font:bold;
		color:white;
	}
	@media all and (max-width:630px){
		display:none;
	}
}